 <div class="container">
  <%= simple_form_for [@kitchen, @booking] do |f| %>
      <%= f.input :date, label: "When?" %>
      <%= f.input :time, label: "At what time?" %>
      <%= f.input :duration, label: "For how many hours?" %>
      <%= f.input :groceries, label: "Want some groceries?", :item_wrapper_class => 'inline' %>
      <%= f.input :host, label: "Want host?", :item_wrapper_class => 'inline'%>
      <%= f.submit %>
    <% end %>
</div>
