<div class="container mt-3">
  <h2>⏲️ Rentals</h2>
  <% @items.each do |k_name, rtl| %>
    <h2 class="mt-2"><%= k_name %></h2>
    <% rtl.each do  |rt|%>
      <div class="card-trip card-category mt-3">
          <div class="card-trip-infos">
            <div>
              <p>Guest: <%= rt.user.first_name %> <%= rt.user.last_name %></p>
              <p class="mt-1">Booked for: <%= rt.date.strftime('%d %B %Y')%> </p>
              <p>Duration: <%= rt.duration%> hours </p>
              <p> Groceries: <%= rt.groceries ? "Yes" : "No" %></p>
              <p> Host: <%= rt.host ? "Yes" : "No" %></p>
            </div>
            <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(rt.kitchen.price) %></h2>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
