<div class="container">
    <h2 class="mt-2">Congrats <i class="fa-solid fa-carrot fa-lg" style="color: #f61404;"></i></h2>
    <h3 class="mt-4"><i class="fa-solid fa-thumbtack fa-lg" style="color: #f49b01;"></i> Pot reserved</h3>
  <div class="card-grid2">
    <div class="card-trip card-category mt-2">
      <% if @booking.kitchen.photos.attached? %>
        <%= cl_image_tag @booking.kitchen.photos.sample.key, height: 200, width: 300, crop: :fill %>
      <% else %>
        <img src="/app/assets/images/logo.png" alt="">
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to @booking.kitchen.name, kitchen_path(@booking.kitchen) %></h2>
          <p class="mt-1">Booked for: <%= @booking.date.strftime('%d %B %Y')%> </p>
          <p>Duration: <%= @booking.duration%> hours </p>
          <p> Groceries: <%= @booking.groceries ? "Yes" : "No" %></p>
          <p> Host: <%= @booking.host ? "Yes" : "No" %></p>
        </div>
        <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(@booking.kitchen.price) %></h2>
      </div>
    </div>
  </div>
</div>
