<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1663846768557-f9a5dc6b361f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGtpdGNoZW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Hot Pot <i class="fa-solid fa-kitchen-set" style="color: #f12009;"></i> brings your <strong>cooking skills</strong> to <strong>life</strong>!</h1>
    <p>Change your night and cook at one of our kitchens around the world.</p>
    <a><%= link_to "New kitchen", new_kitchen_path, class: "btn btn-flat" if policy(Kitchen).new? %></a>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
  <div class="col-6">
    <div class="cards">
          <% @kitchens.each do |kitchen| %>
            <% if kitchen.photos.attached? %>
              <div class="card-product">
                <%= cl_image_tag kitchen.photos.sample.key, height: 200, width: 300, crop: :fill %>
            <% else %>
              <img src="/app/assets/images/logo.png" alt="">
            <% end %>
                <div class="card-product-infos">
                  <h2><%= link_to kitchen.name, kitchen_path(kitchen) %></h2>
                  <p><%= kitchen.features %></p>
                  <div class="container mt-1">
                    <div class="d-flex justify-content-between">
                      <i class="fa-sharp fa-solid fa-star" style="color: #f19c09;"> <%= kitchen.rating %> </i>
                      <i class="fa-solid fa-sack-dollar"> <%= kitchen.price %></i>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
    </div>
  </div>
  <div class="row col-6 map">
      <div data-controller='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        id="map" style='width: 100%; height: 100vh;'>
      </div>
  </div>
</div>
