<div class="container">
  <div>
    <div class="mt-2">
      <div>
        <h1><%= @kitchen.name %> </h1>
      </div>
      <div>
        <div>
          <i class="fa-sharp fa-solid fa-location-dot" style="color: #f50f3d;"></i>
          <%= @kitchen.location %>
        </div>
        <div>
          <i class="fa-sharp fa-solid fa-star" style="color: #f19c09;"> </i>
          <%= @kitchen.rating %>
        </div>
        <div>
          <i class="fa-regular fa-calendar" style="color: #e91620;"></i>
          Available from : <%= @kitchen.availability %>
        </div>
      <div>
        <i class="fa-solid fa-sack-dollar"></i>
        <%= @kitchen.price %>
      </div>
    </div>
    <div class="mt-2">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @kitchen.photos.each do |photo| %>
              <% if photo == @kitchen.photos[0] %>
                <div class="carousel-item active">
                    <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
                </div>
              <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
                  </div>
              <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Description
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong><%= @kitchen.name %></strong> <%= @kitchen.description %>
        </div>
      </div>
    </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            What this place offers
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <i class="fa-sharp fa-solid fa-kitchen-set" style="color: #3b0570;"></i>
            <%= @kitchen.features %>
          </div>
      </div>
      <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Contact
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong><%= @kitchen.owner_info %></strong>
      </div>
    </div>
  </div>
</div>
  <div class="mt-3">
    <div>
      <% if policy(@kitchen).edit? %>
      <%= link_to "Edit this kitchen", edit_kitchen_path(@kitchen), class: "btn btn-ghost"%>
      <% end %>
    </div>
    <div class="mt-2">
    <%= button_to "Destroy this kitchen", @kitchen, class: "btn btn-ghost", method: :delete if policy(@kitchen).destroy? %>
    </div>
  </div>
